body {
	font-size: 80%;
	overflow: hidden;
}

div.bar {
	display: inline-block;
	width: 20px;
	height: 75px; /* We'll override this later */
	background-color: teal;
	margin-right: 2px;
}

div.over2 {
	position: absolute;
	width: 20px;
	height: 75px; /* We'll override this later */
	background-color: teal;
	margin-right: 2px;
	opacity: 0.6;
	filter: alpha(opacity=60);
}

.featBox {
	pointer-events: all;
}

#canCont {
	width: 99%;
	overflow-x: hidden;
	overflow-y: hidden;
	border: 0px solid;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
	float: left;
	height: 520px;
}

#sidebar {
	width: 250px;
	border: 1px solid;
	float: right;
	position: absolute;
	background-color: white;
	top: 120px;
	right: 300px;
	padding: 0.05em;
}

.sidetab {
	margin-top: 5px;
	padding: 1px;
	padding-left: 15px !important;
	overflow-x:hidden  !important;
}

.sidetabtitle {
	margin-bottom: 10px;
	font-style: oblique;
}

#legends {
	width: 260px;
	text-align: center;
	background-color: white;
	padding: 7px;
	float: right;
	overflow-x:hidden;
	overflow-y:auto;
	
	border-bottom-color: rgb(170, 170, 170);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(170, 170, 170);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgb(170, 170, 170);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgb(170, 170, 170);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-style: solid;
	border-top-width: 1px;
}

.legitem2 {
	width: 100%;
	position: relative;
	height: 20px;
	margin-bottom: 10px;
}

#figure {
	overflow-x: hidden;
	padding-left: 0px;
}

#featureList {
	overflow-x: auto;
	overflow-y: auto;
	padding-bottom: 20px;
}
#maintabs {
	padding-bottom: 10px;
	float: left;
}

#features {
	overflow-x: hidden;
	padding-bottom:0.5em;
}


.ui-accordion .ui-accordion-content {
	padding: 1em 0.5em;
	border-top: 0;
	overflow: auto;
}

#sideAcaccordion {
	padding: 0px;
	background: none;
}

.tooboxTitle {
	padding-left2: 1.2em !important;
	cursor: pointer;
	display2: inline-block;
	float: none;
	top: 0px;
	margin: 0em;
	background: transparent;
	border-width: 0px 0px 1px 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
.toolboxTitleText {
	width: 100%;
	height: 2.35em;
	text-align: center;
	background-color: blue;
	cursor: move;
}

#sidebar .ui-tabs-nav {
	background: transparent;
	border-width: 0px 0px 1px 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
#sidebar .ui-tabs-panel {
	margin: 0em 0.2em 0.2em 0.2em;
}

.ui-tabs .ui-tabs-nav li a img {
	float: left;
	margin-right: 5px;
	margin-top: 5px;
}


.slider {
	 background-color: #8e8d8d !important;
}

    .ui-slider-handle {  
        position: absolute;  
        z-index: 2;  
        width: 25px;  
        height: 25px;  
        cursor: pointer;  
        background2: url('../images/handle.png') no-repeat 50% 50%;  
        background-color: #8e8d8d !important;
        background-image: none !important;
        font-weight: bold;  
        color: #1C94C4;  
        outline: none;  
        top: -7px;  
        margin-left: -12px;  
    }  
