#visCont {
	width: 98%;
	height: inherit;
	border: 1px solid;
	position: absolute;
	left: 10px;
	top: 0px;
	overflow: scroll;
	background-color: white;
	z-index: 20;
	display: none;
}
#visDetailedView {
	width: 1200px;
	height: 620px;
	position: absolute;
	top: 1px;
	left: 0px;
}
#visInstFrame {
	width: 100%;
	height: 150px;
	position: absolute;
	top: 0px;
	left: 0px;
}
#visInstFrameP1 {
	width: 250px;
	height: 150px;
	position: absolute;
	top: 0px;
	left: 300px;
}
#visInstFrameP2 {
	width: 250px;
	height: 150px;
	position: absolute;
	top: 0px;
	left: 600px;
}
.visInstFrameA {
	width: 48px;
	height: 72px;
	position: absolute;
	top: 0px;
	left: 100px;
	border: 1px dotted;
}
.visInstFrameB {
	width: 48px;
	height: 72px;
	position: absolute;
	top: 75px;
	left: 100px;
	border: 1px dotted;
}
.visInstFrameDiff {
	width: 98px;
	height: 147px;
	position: absolute;
	top: 0px;
	left: 151px;
	border: 1px dotted;
}
.jointsLegend {
	width: 145px;
	height: 230px;
	position: absolute;
	top: 2px;
	left: 2px;
	border: 1px dotted;
}
#visMultiples {
	width: 1200px;
	height: 470px;
	position: absolute;
	top: 150px;
	left: 0px;
}
#visMultiplesP1 {
	width: 1200px;
	height: 235px;
	position: absolute;
	top: 0px;
	left: 0px;
	border-bottom: 1px solid;
}
#visMultiplesP2 {
	width: 1200px;
	height: 235px;
	position: absolute;
	top: 235px;
	left: 0px;
}
#visCont .closewindow{
	position: relative;
	width: 40px;
	height: 40px;
	top: 10px;
	left: 10px;
	cursor: pointer;
}
.multiplesColumn {
	width: 300px;
	height: 235px;
	position: absolute;
	top: 0px;
}
.smallMultiple {
	width: 300px;
	height: 78px;
	position: absolute;
	top: 0px;
	left: 0px;
}
#angleCharts{
	left: 150px;
}
#speedCharts{
	left: 450px;
}
#accelerationCharts{
	left: 750px;
}
#visOverview {
	width: 1200px;
	height: 180px;
	position: absolute;
	top: 621px;
	left: 0px;
}
#visOverviewP1 {
	width: 1200px;
	height: 90px;
	position: absolute;
	top: 0px;
	left: 0px;
}
#visOverviewP2 {
	width: 1200px;
	height: 90px;
	position: absolute;
	top: 90px;
	left: 0px;
}
.visOverviewFrame {
	width: 45px;
	height: 65px;
	position: absolute;
	top: 20px;
	left: 2px;
	border: 1px dotted;
}
.visOverviewChart {
	width: 1100px;
	height: 70px;
	position: absolute;
	top: 15px;
	left: 48px;
}
.loaderWrap{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
}
.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 150px;
	height: 150px;
}
.overviewAxis {
	display: none;
}
.stream{
	stroke: black;
	stroke-width: 0.5px;
}
.line{
	fill: none;
	stroke: black;
	stroke-width: 1px;
}
.multipleSVG{
	width: 300px;
	height: 78px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.multipleAxisY {
	fill: none;
	stroke: black;
	stroke-width: 0.5px;
	transform: translate(4px);
}
.multipleAxisY text {
	font-family: sans-serif;
    font-size: 11px;
}
.multipleAxisX path {
	fill: none;
	stroke: black;
	stroke-width: 0.5px;
}
.multipleAxisX text {
	display: none;
}
.highlightWrapper {	
	position: absolute;
	top: 6px;
	left: 5px;
	width: 290px;
	height: 64px;
	fill: none;
	z-index: 100;
}
.highlightLine {
	fill: none;
	stroke: red;
	stroke-width: 2px;
	stroke-opacity: .25;
}

.brusherWrap{
	position: absolute;
	left: 53px;
}

.brusher{
}

.brusher .extent{
	fill-opacity: .125;
	shape-rendering: crispEdges;
}