#visCont {
	width: 98%;
	height: 98%;
	border: 1px solid #ccc;
	position: absolute;
	left: 1%;
	top: 1%;
	overflow: scroll;
	background-color: white;
	z-index: 20;
	display: none;
}

#visCont p{
	display: none;
}

#visDetailedView {
	position: absolute;
	top: 50px;
	left: 15px;
}
#visInstFrame {	
	position: absolute;
	top: 0px;
	left: 0px;
}
#visInstFrameP1 {
	position: absolute;
	top: 0px;
	left: 0px;
}
#visInstFrameP2 {
	position: absolute;
	top: 240px;
	left: 0px;
}
.visInstFrameA {
	width: 80px;
	height: 100px;
	position: absolute;
	top: 0px;
	left: 0px;
	border: 1px solid #ccc;
}
.visInstFrameB {
	width: 80px;
	height: 100px;
	position: absolute;
	top: 110px;
	left: 0px;
	border: 1px solid #ccc;
}
.visInstFrameDiff {
	width: 160px;
	height: 210px;
	position: absolute;
	top: 0px;
	left: 90px;
	border: 1px solid #ccc;
}
#visMultiples {
	position: absolute;
	top: 0px;
	left: 260px;
}
#visMultiplesP1 {
	width: 945px;
	/* height was 235*/
	height: 210px; 
	position: absolute;
	top: 0px;
	left: 0px;
	/*border: 1px solid #ccc;*/
}
#visMultiplesP2 {
	width: 945px;
	height: 210px;
	position: absolute;
	top: 240px;
	left: 0px;
	/*border: 1px solid #ccc;*/
}
#visCont .closewindow{
	position: relative;
	width: 30px;
	height: 30px;
	top: 10px;
	left: 10px;
	cursor: pointer;
}
.multiplesColumn {
	position: absolute;
	top: 0px;
}
.multiplesColumn .smallMultiple {
	width: 300px;
	height: 60px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.multiplesColumn .smallMultiple:nth-child(2n){
	top: 74px;
}
.multiplesColumn .smallMultiple:nth-child(3n){
	top: 148px;
}
#angleCharts{
	left: 0px;
}
#speedCharts{
	left: 320px;
}
#accelerationCharts{
	left: 640px;
}
#visOverview {
	width: 1200px;
	height: 180px;
	position: absolute;
	top: 530px;
	left: 15px;
}
#visOverviewP1 {
	width: 1200px;
	height: 90px;
	position: absolute;
	top: 0px;
	left: 0px;
}
#visOverviewP2 {
	width: 1200px;
	height: 90px;
	position: absolute;
	top: 70px;
	left: 0px;
}
.visOverviewFrame {
	width: 40px;
	height: 50px;
	position: absolute;
	top: 10px;
	left: 0px;
	border: 1px solid #ccc;
}
.visOverviewFrame:last-child {
	left: 1165px;
}
.visOverviewChart {
	width: 1100px;
	height: 70px;
	position: absolute;
	top: 0px;
	left: 55px;
	background: #eee;
}
.loaderWrap{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
}
.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 150px;
	height: 150px;
}
.overviewAxis {
	display: none;
}
.stream{
	stroke: rgba(255,255,255,0.3);
	stroke-width: 1px;
}
.lineA, .lineB{
	fill: none;
	stroke-width:2px;
}
.lineA{
	stroke: rgba(255, 168, 38, 0.7);
}
.lineB{
	stroke: rgba(3, 181, 234, 0.7)
}
.multipleSVG{
	width: 300px;
	height: 60px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.multipleAxisY {
	fill: none;
	stroke: black;
	stroke-width: 0.5px;
	transform: translate(4px);
}
.multipleAxisY text {
	font-family: sans-serif;
	stroke: none;
	fill: #333	;
    font-size: 11px;
}
.multipleAxisX path {
	fill: none;
	stroke: #333;
	stroke-width: 0.5px;
}
.multipleAxisX text {
	display: none;
	stroke: none;
	fill: #333;
}
.highlightWrapper {	
	position: absolute;
	top: 5px;
	left: 5px;
	width: 290px;
	height: 50px;
	fill: none;
	z-index: 100;
}
.highlightLine {
	height: 100%;
	fill: none;
	stroke: grey;
	stroke-width: 1px;
	stroke-opacity: .75;
}

.brusherWrap{
	position: absolute;
	left: 53px;
}

.brusher{
}

.brusher .extent{
	fill-opacity: .125;
	shape-rendering: crispEdges;
}
.bone{
	stroke-width: 1px;
	stroke: grey;
}
.joint{
	fill: #555;
}
.bone.A{	
	stroke: rgba(255, 168, 38, 0.7);
}
.bone.B{
	stroke: rgba(3, 181, 234, 0.7)
}
.joint.A{
	fill: rgba(255, 153, 1, 0.7);
}
.joint.B{
	fill: rgba(0, 177, 230, 0.8);
}